# Ignore artifacts:
dist
.astro

# Ignore node_modules
node_modules

# Ingore netlify folders
.netlify
netlify 

# Ignore MDX files as Keystatic expects a specific JSX component structure
# Prettier has known issues with MDX formatting that can break indentation in JSX components
**/*.mdx

# Ignore tours
.tours

# Standard
**/.git
**/.svn
**/.hg
**/node_modules

# Lockfiles
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Scripts
scripts/