---
/**
 * * Large image with feature text above it.
 */

import dashboard from "@images/control-issues.svg";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const features: string[] = [
  "Your CI/CD mapped and fully monitored — No more blind spots",
  "90% less manual effort to make CI/CD secured & compliant",
  "Always audit-ready",
  "Plug & Play — No friction for your tech teams",
  "GitLab Partner and backed by certified integrators",
  "Privacy respected with Self-Hosted Instance",
];
---

<section id="atPlumber" class="my-16 md:my-24 relative overflow-hidden">
  <!-- Text and image -->
  <div
    class="dark:bg-primary-500/30 bg-primary-300 absolute top-0 left-0  mx-auto aspect-square w-full max-w-7xl -translate-x-2/3 -translate-y-1/2 rounded-full blur-[100px]"
    aria-hidden="true"
  >
  </div>

  <div
    class="dark:bg-primary-500/30 bg-primary-300 absolute right-0 bottom-0  mx-auto aspect-square w-full max-w-7xl translate-x-1/2 translate-y-1/2 rounded-full blur-[100px]"
    aria-hidden="true"
  >
  </div>
  <div class="relative overflow-hidden py-16 bg-primary-950/50 dark:bg-primary-950/20">
    <!-- background glows -->

    <!-- center content -->
    <div class="site-container mx-auto">
      <p class="from-primary-300 to-primary-500 dark:from-primary-400 dark:to-primary-200 bg-gradient-to-r bg-clip-text text-lg text-transparent  inline" data-mos="fade-up" data-mos-anchor="#atPlumber">At Plumber</p>
      <h2 class="h2 mt-8 text-base-100 dark:text-base-100" data-mos="fade-up" data-mos-delay="0.1" data-mos-anchor="#atPlumber">
        We made an AI-powered platform that <span class="dark:text-primary-500 text-primary-300">maps</span>, <span
          class="dark:text-primary-500">audits</span
        >, and <span class="dark:text-primary-500 text-primary-300">remediates</span>
        CI/CD compliance gaps — Continously
      </h2>
      <ul class="mt-6 flex flex-col gap-4 text-base-300 dark:text-base-300">
        {
          features.map((feature, idx) => (
            <li
              class="flex items-center"
              data-mos="fade-up"
              data-mos-delay={`${idx * 0.1 + 0.2}`}
              data-mos-anchor="#atPlumber"
            >
              <Icon
                name="tabler/check"
                class="text-primary-300 dark:text-primary-400 h-5 w-5"
                aria-hidden="true"
              />
              <span class="ml-2 inline">{feature}</span>
            </li>
          ))
        }
      </ul>
      <div
        class="mt-6 max-w-4xl"
        data-mos="fade-up"
        data-mos-delay="0.8"
        data-mos-anchor="#atPlumber"
      >
        <Image
          src={dashboard}
          alt="logo"
          loading="lazy"
          width={1500}
          class="relative z-10 rounded-2xl p-1 md:rounded-xl md:p-2"
        />
      </div>
    </div>
  </div>
</section>
