<section id="CTA" class="site-container mx-auto">
  <div class="mt-24">
    <div
      class=" from-primary-400 to-base-300 dark:from-primary-500 dark:to-base-600/60 relative mx-auto h-full w-full overflow-hidden rounded-2xl bg-gradient-to-br to-40%"
    >
      <div class="relative h-full p-px">
        <div
          class="bg-primary-100 dark:bg-base-800 relative z-10 h-full overflow-hidden rounded-[calc(1rem-1px)]"
        >
          <!-- inside card glow  -->
          <div
            class="bg-primary-600/10 absolute top-0 left-0 -z-10 mx-auto aspect-square w-full max-w-xl -translate-x-1/2 -translate-y-1/2 rounded-full blur-3xl md:-translate-x-1/4"
            aria-hidden="true"
          >
          </div>

          <div class="mx-auto  px-18 gap-8 py-8 md:grid-cols-3 md:py-16">
            <div class="">
              <h2 class="h1">CI/CD Pipelines are a blind spot</h2>
              <p class="description mt-6">
                It is the backbone of your delivery chain with access to everyting - code, secrets, production environments. <br/>
No visibility and control over CI/CD pipelines leads to undetected misconfiguration, exposed secrets, over-permissioned tokens, and hidden trusted dependencies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>