---
import "@/styles/global.css";
import "@/docs/styles/docs-markdown-content.css";

import Footer from "@/components/Footer/Footer.astro";
import Nav from "@/components/Nav/Nav.astro";
import CookieConsent from "@/docs/components/cookie-consent/CookieConsent.astro";
import SkipLink from "@/docs/components/skip-link/SkipLink.astro";
import siteSettings from "@/docs/config/siteSettings.json";
import { getLocaleFromUrl } from "@/docs/js/localeUtils";

import BaseHead from "./BaseHead.astro";

// image and authorData are defined on blog posts
// authorData could also be defined on the about author page
interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
  noindex?: boolean; // you need to opt-in to no indexing, as it hides the page from search engines
  sectionId?: string;
}

const { title, description, image, noindex = false, sectionId = "main" } = Astro.props as Props;

const currLocale = getLocaleFromUrl(Astro.url);
---

<!doctype html>
<html id="documentation-layout" lang={currLocale} class="dark" transition:animate="fade">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image ? image : undefined}
      noindex={noindex}
    />
  </head>
  <body id="body" class="">
    <!-- put cookie consent first so it is seen first by screen readers -->
    <CookieConsent />
    <SkipLink href="#main-content" />
    <div class="min-h-[100lvh]">
      {/* Navbar */}
      <Nav />
      {/* Add padding-top to account for fixed navbar */}
      <div class="pt-[var(--nav-height,4rem)]">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
