---
import Button from "@components/Button/Button.astro";
import LanguageSelect from "@components/LanguageSelect/LanguageSelect.astro";
import MobileNav from "@components/Nav/MobileNav/MobileNav.astro";
import NavDropdownToggle from "@components/Nav/NavDropdown/NavDropdownToggle.astro";
import NavLink from "@components/Nav/NavLink.astro";
import Search from "@components/Search/Search.astro";
import SiteLogo from "@components/SiteLogo/SiteLogo.astro";
import ThemeToggle from "@components/ThemeToggle/ThemeToggle.astro";
import { locales } from "@config/siteSettings.json";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

import DocsSearch from "@/docs/components/search/Search.astro";

import MegaMenuDropdownToggle from "./NavDropdown/MegaMenuDropdownToggle.astro";

const currLocale = getLocaleFromUrl(Astro.url);
const finalNavData = getTranslatedData("navData", currLocale);
---

<section
  id="nav"
  class:list={[
    "fixed top-0 left-0 z-30 flex w-full flex-col border-b transition-all duration-300",
    // Add background on docs pages to prevent content showing through
    Astro.url.pathname.startsWith("/docs")
      ? "bg-background/80 border-foreground/10 backdrop-blur"
      : "navbar--initial",
  ]}
>
  <div class="mx-auto flex w-full">
    <div
      class:list={[
        "flex w-full items-center",
        // Add padding on docs pages to prevent content showing through
        Astro.url.pathname.startsWith("/docs")
          ? "docs-site-container border-foreground/10 border-r border-l"
          : "site-container",
      ]}
    >
      <header class="relative flex w-full items-center gap-2">
        <!-- home button / image -->
        <div class="flex h-full flex-auto justify-start">
          <SiteLogo />
        </div>

        <!-- <div class="flex flex-auto justify-center">
          
        </div> -->

        <!-- desktop nav menu -->
        <div>
          <div class="flex h-full flex-auto justify-end">
            <nav class="hidden lg:block">
              <ul class="flex h-full items-center">
                {
                  // if dropdown exists, setup the dropdown, otherwise it is just a link
                  finalNavData.map((navItem) =>
                    "dropdown" in navItem ? (
                      // non-mobile dropdown menu
                      <li>
                        <NavDropdownToggle navItem={navItem} />
                      </li>
                    ) : "megaMenuColumns" in navItem ? (
                      <li>
                        <MegaMenuDropdownToggle {navItem} />
                      </li>
                    ) : (
                      // normal nav link
                      <NavLink {navItem} />
                    ),
                  )
                }
              </ul>
            </nav>
            <div class="flex items-center">
              <ThemeToggle class="hidden lg:flex" />

              {Astro.url.pathname.startsWith("/docs") && <DocsSearch class="lg:ml-2" />}

              {locales.length > 1 && <LanguageSelect class="ml-2 hidden lg:flex" />}

              <Button
                variant="primary"
                href={"/contact"}
                class="ml-2 hidden whitespace-nowrap lg:flex"
              >
                Contact us
              </Button>
            </div>

            <!-- mobile nav menu, only load on small screens where it is visible -->
            <div class="flex items-center lg:hidden">
              <MobileNav />
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
</section>

<style>
  @import "tailwindcss/theme" theme(reference);
  @import "@/styles/tailwind-theme.css" theme(reference);

  .navbar--scrolled {
    @apply border-foreground/10 bg-background/30 backdrop-blur;
  }

  .navbar--initial {
    @apply border-b-transparent bg-transparent;
  }
</style>

{/*script on scrolldown to make navbar more legible*/}
<script>
  let navbar: HTMLElement | null;

  function scrollHandler() {
    if (navbar) {
      const isDocsPage = window.location.pathname.startsWith("/docs");

      if (window.scrollY > 50) {
        // if we have scrolled down the page a bit, add a frosted-glass look to the navbar
        if (!isDocsPage) {
          navbar.classList.add("navbar--scrolled");
          navbar.classList.remove("navbar--initial");
        }
      } else {
        if (!isDocsPage) {
          navbar.classList.add("navbar--initial");
          navbar.classList.remove("navbar--scrolled");
        }
      }
    }
  }

  function initNav() {
    navbar = document.getElementById("nav");
    window.addEventListener("scroll", scrollHandler, { passive: true });
  }

  // runs on initial page load
  initNav();

  // runs on view transitions navigation. Not needed if item has "transition:persist"
  document.addEventListener("astro:after-swap", initNav);
</script>
